.sidebar{
  width: 100%;
  max-width: 200px;
  margin-right: 10px;
  background-color: rgba(121, 121, 127, .1);
}
.sidebar-nav{
  margin-top: 10px;
}
.sidebar-nav__link{
  display: block;
  color: #797980;
  padding: 8px 0 8px 20px;
  border-radius: 4px;
  transition: background-color .1s;
}
.sidebar-nav__link.active{
  background-color: #333336;
}
.sidebar-nav__link:hover{
  background-color: #333336;
}