.user-main__headimage{
  width: 100%;
  max-width: 100%;
  height: 120px;
  object-fit: cover;
  object-position: center 40%;
  display: block;
}
.user-main__inner{
  margin-bottom: 50px;
  padding: 15px;
}